<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${cheeses} and ${cheeses.size()}">no cheese :(</p>


<table class="table table-hover table-striped" >

    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
        <th></th>
    </tr>
    <tbody>
        <tr th:each="cheese : ${cheeses}" >
            <td class="align-middle" th:text="${cheese.name}"></td>
            <td class="align-middle" th:text="${cheese.description}"></td>
            <td class="align-middle" th:text="${cheese.category.name}"></td>
            <td class="align-middle"><a th:href="@{'/cheese/edit/' + ${cheese.id}}" class="btn btn-primary btn-sm" role="button">edit</a></td>
        </tr>
    </tbody>


</table>

<div class="btn-group">
    <a href="/cheese/add" class="btn btn-primary btn-md" role="button">Add</a>
    <a href="/cheese/remove" class="btn btn-primary btn-md" role="button">Remove</a>
</div>

</body>
</html>